@font-face {
    font-family: "meicon";
    /* Project id 3601181 */
    src: url('../../../static/css/me/iconfont.woff2') format('woff2'),
        url('../../../static/css/me/iconfont.woff') format('woff'),
        url('../../../static/css/me/iconfont.ttf') format('truetype');
}

.meicon {
    font-family: "meicon" !important;
    font-size: 16px;
    font-style: normal;
}

.me-tatalassets:before {
    content: "\e645";
}

.me-eyeshow:before {
    content: "\e6cc";
}

.me-eyehide:before {
    content: "\e6cf";
}

.me-netasset:before {
    content: "\e643";
}

.me-negativeasset:before {
    content: "\e64c";
}